/client/node_modules/
/client/.expo/
/client/dist/
/client/npm-debug.*
/client/*.jks
/client/*.p8
/client/*.p12
/client/*.key
/client/*.mobileprovision
/client/*.orig.*
/client/web-build/
/client/android/

# macOS
/client/.DS_Store


/server/node_modules/
/server/.env